VITE_SUPABASE_URL=https://tvkhjpittpofknfazdgy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2a2hqcGl0dHBvZmtuZmF6ZGd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MDEwNDYsImV4cCI6MjEwMDI3NzA0Nn0.Ctuckzkn_GdGmyDut-JYjNZDrcPMs4hf-De8244yZg0
